@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.woff') format('woff'), url('BalooBhaina-Regular.ttf')  format('truetype'),
     url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'),
  url('fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


.head-1 .navbar-light .navbar-collapse .list .nav-item a.nav-link.imp
{
	color:#ffb600 ;
	border-bottom: 1px solid #ffb600;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	margin-right: 20px;
	margin-top: 24%;
}
.head-1 .navbar-light .navbar-collapse .list .nav-item a.nav-link.inside
{
	color: #999999;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	margin-right: 20px;
	margin-top: 28px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon
{
	margin-right: 10px;
	margin-top: 3%;
	
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-1
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 7px;
	color: white;
	background-color:  #ffb600;
	margin-left: 20px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-2
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;

}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-3
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 2px;
	color: #ffb600;
}


.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-4
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;
	margin-right: 10px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.sign-in
{
	background-image: url(picture/chest.png);
	background-repeat: no-repeat;
	padding-top: 16px ;
	padding-bottom: 70px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.sign-in a.nav-link
{
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	color: white;
	padding: 0px 39px;
	white-space: nowrap;
}

.head-1 .navbar-light
{
	padding: 0px;
}

.head-1 
{
  background-image: url(picture/cloud-baner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 50px;
}

.head
{
  background-image: url(picture/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
  position: absolute;
}

header
{
	position: relative;
}

header .foot
{
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
}

header .foot img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head-2
{
	display: flex;
	justify-content: center;
}

.head-2 img
{
	position: relative;
	width: 40%;
	height: 100%;
	left: -1%;
	padding-top: 14%;
}

#flipbook
{
	margin-left: 370px;
}

#flipbook .page-wrapper img
{
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: relative;

}

#flipbook .hard.content p
{
	font-family: 'Montserrat-Light';
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color: rgba(255,255,255,0.5);
}

#flipbook .hard.content
{
	transform: translate(33%, 40%);

}

.head-3 .mid
{
	margin-top: 5%;
	margin-right: 0;
	margin-left: 0;
}

.container-fluid.head-3
{
	padding-right: 0;
	padding-left: 0;
	position: relative;
}


.head-3 .upload
{
	display: flex;
	justify-content: center;
}

.head-3 .upload a
{
	color: #ffb600;
	font-family: 'Montserrat-Light';
  	font-size: 30px;
  	position: relative;
  	color: #ffb600;
  	text-transform: uppercase;
  	font-weight: bolder;
  	z-index: 1;
  	background-color: rgba(255,255,255,0);
  	border: 1px solid rgba(255,255,255,0);
  	border-radius: 100px;
  	margin-top: 3%;
}

.head-3 .flip-control
{
  width: 98%;
  z-index: 1;
  position: absolute;
  bottom: 1%;

}
    
.head-3 .previous 
{
  
  float: left;
  display: inline-flex;

}

.head-3 .previous .previous-1
{
  font-family: 'BalooBhaina-Regular';
  font-size: 36px;
  padding-left:0px;
  color: #545454;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
}


.head-3 .next
{
  float: right;
  display: inline-flex;
}

.head-3 .next .next-1
{
  font-family: 'BalooBhaina-Regular';
  font-size: 36px;
  color: #545454;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
}

.foot .foot-1 h2.title
{
	font-family: 'BalooBhaina-Regular';
	font-size: 60px;
	color: #ffb600;
	position: relative;
	left: 37%;
	width: 24%;
}

.foot .foot-1 span
{
	font-family: 'BalooBhaina-Regular';
	font-size: 36px;
	color: #666666;
	position: relative;
	left: 20%;
}

.foot .foot-1 p.content
{
	font-family: 'Montserrat-Light';
	font-size: 16px;
	color: #333333;
	left: 20%;
	width: 62%;
	position: relative;
}

.foot .foot-1 span.weight 
{
	left: 22%;
}

.foot .foot-1 span.date
{
	left: 26%;
}

footer .leg-foot
{
  background-image: url(picture/footer-straight.png);
  background-repeat: no-repeat;
  margin-top: 12%;
  background-position: center;
  height: 100px;
  width: 100%;

}

footer .leg-foot a
{
  position: relative;
  margin-top: 2%;
  margin-left: 49%;
  border: 5px solid #e2e1de;
  border-radius: 100px;
  color: #e2e1de;
  padding: 0px 1px;
  width: 33px;
  height: 32px;
  background-color: #ffb400;
}


.footer-main .navbar .slimz .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  color: black;
}

.footer-main .navbar .navbar-brand
{
  padding-left: 10%;
  font-family: 'BalooBhaina-Regular';
  font-size: 16px;
  color: black;
}

@media (min-width: 320px) and (max-width: 425px)
{

	#flipbook .page-wrapper img
	{
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: relative;

	}

	#flipbook .hard.content p
	{
		font-family: 'Montserrat-Light';
		font-size: 20px;
		font-weight: bold;
		color: black;
		background-color: rgba(255,255,255,0.5);
	}

	#flipbook .hard.content
	{
		transform: translate(33%, 44%);

	}

	#flipbook
	{
		margin-left: 0;
	}

	.head-3 .row
	{
		margin-top: 60%;
		margin-right: 0;
		margin-left: 0;
	}

	.container-fluid.head-3
	{
		padding-right: 0;
		padding-left: 0;
		position: relative;
	}

	.head-3 .upload
	{
		display: flex;
		justify-content: center;
	}

	.head-3 .upload a
	{
		color: #ffb600;
		font-family: 'Montserrat-Light';
	  	font-size: 16px;
	  	position: relative;
	  	color: #ffb600;
	  	text-transform: uppercase;
	  	font-weight: bolder;
	  	z-index: 1;
	  	background-color: rgba(255,255,255,0);
	  	border: 1px solid rgba(255,255,255,0);
	  	border-radius: 100px;
	  	margin-top: 35%;
	}

	.head-3 .flip-control
	{
	  width: 98%;
	  z-index: 1;
	  position: absolute;
	  bottom: 1%;

	}
	    
	.head-3 .previous 
	{
	  
	  float: left;
	  display: inline-flex;

	}

	.head-3 .previous .previous-1
	{
	  font-family: 'BalooBhaina-Regular';
	  font-size: 27px;
	  padding-left:0px;
	  color: #545454;
	  background-color: rgba(255,255,255,0);
	  border: 1px solid rgba(255,255,255,0);
	}


	.head-3 .next
	{
	  float: right;
	  display: inline-flex;
	}

	.head-3 .next .next-1
	{
	  font-family: 'BalooBhaina-Regular';
	  font-size: 27px;
	  color: #545454;
	  background-color: rgba(255,255,255,0);
	  border: 1px solid rgba(255,255,255,0);
	  padding-bottom: 10px;
	}

	.foot .foot-1 h2.title
	{
		font-family: 'BalooBhaina-Regular';
		font-size: 30px;
		color: #ffb600;
		position: relative;
		left: 22%;
		width: 100%;
	}

	.foot .foot-1 span
	{
		font-family: 'BalooBhaina-Regular';
		font-size: 14px;
		color: #666666;
		position: relative;
		left: 0%;
	}

	.foot .foot-1 p.content
	{
		font-family: 'Montserrat-Light';
		font-size: 14px;
		color: #333333;
		left: 4%;
		width: 100%;
		position: relative;
	}

	.foot .foot-1 span.weight 
	{
		left: 6%;
	}

	.foot .foot-1 span.date
	{
		left: 9%;
	}

	footer .leg-foot
	{
	  background-image: url(picture/footer-straight.png);
	  background-repeat: no-repeat;
	  margin-top: 12%;
	  background-position: center;
	  height: 100px;
	  width: 100%;

	}

	footer .leg-foot a
	{
	  position: relative;
	  margin-top: 2%;
	  margin-left: 49%;
	  border: 5px solid #e2e1de;
	  border-radius: 100px;
	  color: #e2e1de;
	  padding: 0px 1px;
	  width: 33px;
	  height: 32px;
	  background-color: #ffb400;
	}


	.footer-main .navbar .slimz .nav-item a.nav-link
	{
	  font-family: 'BalooBhaina-Regular';
	  font-size: 17px;
	  color: black;
	}

	.footer-main .navbar .navbar-brand
	{
	  padding-left: 10%;
	  font-family: 'BalooBhaina-Regular';
	  font-size: 16px;
	  color: black;
	}

	.foot-2 img
	{
		width: 100%;
	}

}

@media (min-width: 768px) and (max-width: 900px)
{
	#flipbook .page-wrapper img
	{
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: relative;

	}

	#flipbook .hard.content p
	{
		font-family: 'Montserrat-Light';
		font-size: 20px;
		font-weight: bold;
		color: black;
		background-color: rgba(255,255,255,0.5);
	}

	#flipbook .hard.content
	{
		transform: translate(33%, 44%);

	}



	.head-3 .row
	{
		margin-top: 60%;
		margin-right: 0;
		margin-left: 0;
	}

	.container-fluid.head-3
	{
		padding-right: 0;
		padding-left: 0;
		position: relative;
	}

	.head-3 .upload
	{
		display: flex;
		justify-content: center;
	}

	.head-3 .upload a
	{
		color: #ffb600;
		font-family: 'Montserrat-Light';
	  	font-size: 24px;
	  	position: relative;
	  	color: #ffb600;
	  	text-transform: uppercase;
	  	font-weight: bolder;
	  	z-index: 1;
	  	background-color: rgba(255,255,255,0);
	  	border: 1px solid rgba(255,255,255,0);
	  	border-radius: 100px;
	  	margin-top: 10%;
	}

	.head-3 .flip-control
	{
	  width: 98%;
	  z-index: 1;
	  position: absolute;
	  bottom: 1%;

	}
	    
	.head-3 .previous 
	{
	  
	  float: left;
	  display: inline-flex;

	}

	.head-3 .previous .previous-1
	{
	  font-family: 'BalooBhaina-Regular';
	  font-size: 35px;
	  padding-left:0px;
	  color: #545454;
	  background-color: rgba(255,255,255,0);
	  border: 1px solid rgba(255,255,255,0);
	}


	.head-3 .next
	{
	  float: right;
	  display: inline-flex;
	}

	.head-3 .next .next-1
	{
	  font-family: 'BalooBhaina-Regular';
	  font-size: 35px;
	  color: #545454;
	  background-color: rgba(255,255,255,0);
	  border: 1px solid rgba(255,255,255,0);
	  padding-bottom: 30px;
	}

	.foot .foot-1 h2.title
	{
		font-family: 'BalooBhaina-Regular';
		font-size: 40px;
		color: #ffb600;
		position: relative;
		left: 36%;
		width: 100%;
	}

	.foot .foot-1 span
	{
		font-family: 'BalooBhaina-Regular';
		font-size: 28px;
		color: #666666;
		position: relative;
		left: 8%;
	}

	.foot .foot-1 p.content
	{
		font-family: 'Montserrat-Light';
		font-size: 17px;
		color: #333333;
		left: 8%;
		width: 82%;
		position: relative;
	}

	.foot .foot-1 span.weight 
	{
		left: 11%;
	}

	.foot .foot-1 span.date
	{
		left: 14%;
	}

	footer .leg-foot
	{
	  background-image: url(picture/footer-straight.png);
	  background-repeat: no-repeat;
	  margin-top: 12%;
	  background-position: center;
	  height: 100px;
	  width: 100%;

	}

	footer .leg-foot a
	{
	  position: relative;
	  margin-top: 2%;
	  margin-left: 49%;
	  border: 5px solid #e2e1de;
	  border-radius: 100px;
	  color: #e2e1de;
	  padding: 0px 1px;
	  width: 33px;
	  height: 32px;
	  background-color: #ffb400;
	}


	.footer-main .navbar .slimz .nav-item a.nav-link
	{
	  font-family: 'BalooBhaina-Regular';
	  font-size: 17px;
	  color: black;
	}

	.footer-main .navbar .navbar-brand
	{
	  padding-left: 10%;
	  font-family: 'BalooBhaina-Regular';
	  font-size: 16px;
	  color: black;
	}

	.foot-2 img
	{
		width: 100%;
	}

	.last-page .col-md-4 img
	{
		width: 100%;
	}

	.last-page .col-sm-4 img
	{
		width: 160%;
		height: 100%;
	}

	.last-page .col-md-4.right
	{
		padding-top: 5%;
	}
}